*-env/*
bin/*
include/*
lib/*
lib64
share/*
pip-selfcheck.json
pyvenv.cfg
.Python
.DS_Store
*.pyc
.vscode/*
!launch.json
wget/*
wpull/*
!.sh

WARC/*
*.log
*.db
*.warc.gz
*.cdx
*.cdxj
www*/
*.de

*/file-db/*
*/files1/*
*/index/*
*/index-data/*


.env
